# IDEs
.idea/

# Hugo
/resources/
public/
.Rproj.user
.RData
.Rhistory
content/post/.DS_Store
content/post/.DS_Store
content/post/r-or-python/.DS_Store
content/post/getting-started-data-science/.DS_Store
content/post/.DS_Store
